@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Teacherové:</p>
    <ul>
        @foreach (var item in Model.ClassesEnumerable)
        {
            <li>@item.Name (@item.Id)</li>
        }
    </ul>
    <p>Rozvrh:</p>
    <p>
        @(Model.SubjectsOnClasses.Class?.Name ?? "N/A")
       
    </p>
</div>
